/*
 * Layout adjustment for the jquery ui dialogs
 */
.ui-dialog {
    width: 400px !important;
}

.ui-dialog .ui-dialog-titlebar {
    font-size: 14px;
}

.ui-dialog .ui-dialog-content {
    padding-bottom: 0 !important;
    font-size: 1.0em;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    float: unset !important;
    font-size: 14px;
}

/* Styles for the standard leaderboard */
/* =================================== */

table.pl-standings {
    font-size: calc(.5vw + .5vh + .5vmin);
    margin-bottom: 0;
    overflow: hidden;
    overflow-x: scroll;
    display: block;
    white-space: nowrap;
}

table.pl-standings thead th {
    padding-right: 5px;
    padding-left: 5px;
    text-align: center;
}

table.pl-standings thead th:first-child {
    padding-left: 5px;
    text-align: left;
}

table.pl-standings tr td {
    text-align: center;
}

table.pl-standings tr td:first-child {
    padding-right: 10px;
    padding-left: 5px;
    text-align: left;
}

table.pl-standings a.button {
    touch-action: manipulation;
    cursor: pointer !important;
    user-select: none;
}

table.pl-standings a {
    cursor: pointer;
}

.op-dialog-block-details {
    font-size: 14px !important;
    line-height: 1.2em !important;
}

.pl-results-table td, .pl-results-month-table td, .pl-results-year-table td {
    border:none;
    padding: 0px 0px 0px 10px;
}

.pl-results-row-table td {
    border:1px dotted lightgrey;
    padding: 4px 0px 4px 10px;
}

.pl-results-row-table tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.pl-results {
    font-size: 14px !important;
    line-height: 1.2em !important;
}

.pl-results-row, .pl-results-month, .pl-results-year {
    display: none;
}

.pl-minus, .pl-minus-year, .pl-minus-month {
    display: none;
}

.pl-text-right {
    text-align: right;
}

.pl-text-left {
    text-align: left;
}

table.pl-results tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Styles for the rankingleaderboard */
/* =================================== */

table.pl-ranking  {
    font-size: calc(.5vw + .5vh + .5vmin);
}

table.pl-ranking thead th {
    padding-right: 5px;
    cursor: pointer;
}

table.pl-ranking tr td {
    text-align: right;
    padding-right: 5px;
}

table.pl-ranking tr td:first-child {
    padding-right: 5px;
    padding-left: 5px;
    text-align: left;
}

/* MATRIX DETAIL TABLE */
/* DIV TABLE */

.div-pl-table-header {
    background-color: #EEE;
    display: table-header-group;
}

.div-pl-table-header-row {
    display: table-row;
}

.div-pl-table-header-cell {
    display: table-cell;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.div-pl-table-header-cell-vertical {
    writing-mode: vertical-lr;
}

.div-pl-table-header-cell:first-child {
    background: #ffffff;
}

.div-pl-table-body {
    display: table-row-group;
}

.div-pl-table-body-row {
    display: table-row;
}

.div-pl-table-body-cell {
    display: table-cell;
}

.div-pl-table-body-cell:first-child {
    display: table-cell;
    padding-right: 5px;
    padding-left: 5px;
    text-align: left;
}

.div-pl-table-body-cell a.button {
    touch-action: manipulation;
    cursor: pointer !important;
    user-select: none;
}

.div-pl-table-body-cell a {
    cursor: pointer;
}

.pl-matrix-details-wrapper {
    position:relative;
}

.pl-matrix-details-scroll {
    max-height: 30em;
    overflow:auto;
}

.pl-matrix-details-wrapper table {
    width:100%;
}

.pl-matrix-details td {
    border: none;
}

.pl-matrix-details-double tr:nth-child(3n+1) {
    background-color: #f2f2f2;
}

.pl-matrix-details-single tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.pl-matrix-details-footer {
    background: #f2f2f2;
    border: none;
}

.pl-matrix-details-footer td {
    border: none;
}

@media only screen and (max-width: 720px) {
.pl-responsive {
margin-bottom: 0;
overflow: hidden;
overflow-x: scroll;
display: block;
white-space: nowrap;
}
}

